:root {
    --primary-accent-color: #EC255A;
    --secondary-accent-color: #58A4B0;
    --text-color: #161853;
    --secondary-text-color: #292C6D;
    --h1-font: 'Passion One', cursive;
    --h2-font: 'Nobile', sans-serif;;
    --main-font: 'Raleway', sans-serif;;
}

body {
    background-color: #FAEDF0 !important;
}

img {
    border-radius: 8px;
    
}

li {
    font-family: var(--main-font);
}

.page-title {
    font-family: var(--main-font);
}

.hero {
    
    padding: 150px 0 150px 100px;
}

.hero h1, h2 {
    color: var(--text-color);
}
.hero h1 {
    font-size: 81px;
    font-family: var(--h1-font);
    margin-bottom: 0;
}
.hero h2 {
    font-size: 42px;
    font-family: var(--h2-font);
    margin-bottom: 32px;
    
}
.hero p {
    color: var(--secondary-text-color);
    font-size: 32px;
    font-family: var(--main-font);
    margin-bottom: 0;
}
.contact-btn {
    background-color: var(--primary-accent-color);
    color: #FAEDF0;
    text-decoration: none;
    padding: 6px 12px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    transition: ease-in-out 0.4s;
    border-radius: 4px;
    margin-right: 10px;
}

.contact-btn:hover {
    color: #FAEDF0;
    background-color: var(--secondary-text-color);
}

.about-btn {
    background-color: var(--secondary-accent-color);
    color: #FAEDF0;
    text-decoration: none;
    padding: 6px 12px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    transition: ease-in-out 0.4s;
    border-radius: 4px;
    margin-left: 10px;
}

.about-btn:hover {
    color: #FAEDF0;
    background-color: var(--secondary-text-color);
}

.about-user h1{
    text-align: center;
    font-family: var(--h1-font);
    font-size: 64px;
    color: var(--primary-accent-color);
}

.about-user h2, h3{
    font-family: var(--h2-font);
    color: var(--text-color);
}
.about-user h2 {
    font-size: 36px;
}
.about-user h3 {
    font-size: 24px;
    margin-bottom: 12px;
}
.about-user p {
    font-family: var(--main-font);
    color: var(--text-color);
    margin-bottom: 24px;
    font-size: 18px;
}
.user-name {
    color: var(--primary-accent-color);
}
.bio {
    margin-top: 40px !important;
}
.contact-me {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
} 
.icon-link {
    display: inline !important;
    font-size: 18px !important;
}
.contact-me a {
    text-decoration: none;
    display: block;
    color: var(--primary-accent-color);
    font-size: 24px;
    font-family: var(--main-font);
    font-weight: 500;
}

.project-link {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--primary-accent-color);
    font-family: var(--main-font);
    font-size: 20px;
    border: solid 1px var(--primary-accent-color);
    border-radius: 4px;
    font-weight: 500;
}
.projects {
    text-align: center;
    margin-bottom: 40px;
}
.projects h2 {
    font-family: var(--h2-font);
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 12px;
}

.portfolio-title {
    font-family: var(--h1-font);
    text-align: center;
    color: var(--primary-accent-color);
    font-size: 64px;
}
@media (max-width: 600px) {
    .hero {
        text-align: center;
        padding-left: 0;
    }
    .hero h1{
        font-size: 64px;
    }
    .hero h2 {
        font-size: 30px;
    }
    .hero p {
        font-size: 24px;
    }
    
    .about-user h1{
        font-size: 54px;
    }

    .about-user h2 {
        font-size: 28px;
    }
    .about-user h3 {
        font-size: 20px;
    }
    .user-info {
        text-align: center;
    }
    .about-text {
        font-size: 17px;
    }
    .portfolio-title {
        font-size: 42px;
    }

}
